page-ambiente-compras {

    ion-row {
        background-color: black;
        color: white;
    }

    ion-row:nth-child(2)   {
        background-color: #c6c6c6;
        color: black;
    }

    .precoFinal {
        margin-top: -20px;
    }
    
    .precoLabel {
        font-size: 30pt;
    }

}
        