page-home {

    .testeLogin {
        background-color: #fab041;
    }

    ion-card {
        position: relative;
        text-align: center;
    }

    ion-card img {
        height:230px;
    }

    .signOut {
        background: transparent;
    }

    .signOut ion-icon {
        color: #000000;
    }

    #logoMarca {
        width: 30%;
    }
    // ion-icon.menu_tab {
    //     font-size: 25pt;
    // }
    
    // .card-title {
    //     position: absolute;
    //     top: 36%;
    //     font-size: 2.0em;
    //     width: 100%;
    //     font-weight: bold;
    //     color: #fff;
    // }
    
    // .card-subtitle {
    //     font-size: 1.0em;
    //     position: absolute;
    //     top: 52%;
    //     width: 100%;
    //     color: #fff;
    // }

}
