page-login {

    .testeLogin {
        background-color: #b7d8e6;
    }

    #imagem {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    #botao {
        background-color: #f68200;
    }
}
